@import '../../styles/index.scss';


#box {
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-state='active'] {
    opacity: 1;
  }

  #button {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 0;
    border: 1px dashed red;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &[data-state~='dragging.locked'] {
    &:before {
      opacity: 1;
    }
  }
}
